@model IEnumerable<DIESB.Negocio.IndexViewModel>


<div class="hero-unit">
    <h1 id="transitions" class="page-header">Seja bem vindo ao DIESB <small>- Dados de Instituições de Ensino Superior do Brasil</small></h1>
    <p>Aqui você pode consultar pelo nome um curso de pós graduação (Mestrado, Doutorado, Pós Doutorado) e o site te entregará uma lista de instituições que fornecem esse curso.</p>
</div>
<br />

<div class="jumbotron">
    <h1>Contato: luar.faria@gmail.com</h1>
    <p>Dúvidas, sugestões ou erros por favor sinta-se a vontade para entrar em contato.</p>
</div>


<br/>
<hr />
<p>Informações retiradas do site da CAPES - <a href="http://www.capes.gov.br" target="_blank">http://www.capes.gov.br</a></p>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/bootstrap-select.js"></script>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Load.js")